<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      .left-side {
        position: absolute;
        left: 0;
        width: 50%;
        top: 100px;
        bottom: 0;
      }
      .right-side {
        position: absolute;
        right: 0;
        width: 50%;
        top: 100px;
        bottom: 0;
      }
      #alpha {
        width: 100%;
        background-color: white;
        top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        height: 100px;
        z-index: 10;
        left: 0;
        text-align: center;
      }
      .container {
        width: 100%;
        height: 100%;
        position: relative;
      }
      img {
        width: 100%;
      }
      body {
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Virtual Reality View</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script>
        var prevPos = 0;
        var START = {{ start }};
        var END = {{ end }};
        var START_ANGLE = 90;
        var END_ANGLE = 270;
        var degtorad = Math.PI / 180;

        $(document).ready(function() {
            if (window.DeviceOrientationEvent) {
                window.addEventListener("deviceorientation", function(e) {
                  renderImage(compassHeading(e.alpha, e.beta, e.gamma));
                });
            }
        });

        function compassHeading( alpha, beta, gamma ) {
          var _x = beta  ? beta  * degtorad : 0; // beta value
          var _y = gamma ? gamma * degtorad : 0; // gamma value
          var _z = alpha ? alpha * degtorad : 0; // alpha value

          var cX = Math.cos( _x );
          var cY = Math.cos( _y );
          var cZ = Math.cos( _z );
          var sX = Math.sin( _x );
          var sY = Math.sin( _y );
          var sZ = Math.sin( _z );

          // Calculate Vx and Vy components
          var Vx = - cZ * sY - sZ * sX * cY;
          var Vy = - sZ * sY + cZ * sX * cY;

          // Calculate compass heading
          var compassHeading = Math.atan( Vx / Vy );

          // Convert compass heading to use whole unit circle
          if( Vy < 0 ) {
            compassHeading += Math.PI;
          } else if( Vx < 0 ) {
            compassHeading += 2 * Math.PI;
          }

          return 360 - compassHeading * ( 180 / Math.PI ); // Compass Heading (in degrees)
        }

        function getImage(side, position) {
          return $.ajax({
               url: "/"+side+"/"+position,
               type: "GET",
               mimeType: "text/plain; charset=x-user-defined",
               cache: false
           });
        }

        function renderImage(compassHeading) {
          var pos = translateCompassHeading(compassHeading);
          if (!pos) {
            pos = START;
          }
          if (pos !== prevPos) {
            $('#status').text("CompassHeading: "+parseInt(compassHeading)+", Position: "+pos);
            $.when(getImage('left', pos), getImage('right', pos)).done(function(leftImageData, rightImageData) {
              $("#left-image").attr('src', 'data:image/jpeg;base64,' + base64Encode(leftImageData[0]));
              $("#right-image").attr('src', 'data:image/jpeg;base64,' + base64Encode(rightImageData[0]));
            });
            prevPos = pos;
          }
        }

        function base64Encode(str) {
            var CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
            var out = "", i = 0, len = str.length, c1, c2, c3;
            while (i < len) {
                c1 = str.charCodeAt(i++) & 0xff;
                if (i == len) {
                    out += CHARS.charAt(c1 >> 2);
                    out += CHARS.charAt((c1 & 0x3) << 4);
                    out += "==";
                    break;
                }
                c2 = str.charCodeAt(i++);
                if (i == len) {
                    out += CHARS.charAt(c1 >> 2);
                    out += CHARS.charAt(((c1 & 0x3)<< 4) | ((c2 & 0xF0) >> 4));
                    out += CHARS.charAt((c2 & 0xF) << 2);
                    out += "=";
                    break;
                }
                c3 = str.charCodeAt(i++);
                out += CHARS.charAt(c1 >> 2);
                out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
                out += CHARS.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
                out += CHARS.charAt(c3 & 0x3F);
            }
            return out;
        }

        function translateCompassHeading(val) {
          var diffAngle = END_ANGLE - START_ANGLE;
          if (val < START_ANGLE) {
            return START;
          } else if (val > END_ANGLE) {
            return END;
          } else {
            var segment = diffAngle / (END - START);
            return parseInt((val-START_ANGLE) / segment) + START;
          }
        }
    </script>

    <div class="container">
      <div id="status"></div>
      <div class="left-side">
        <img id="left-image" />
      </div>
      <div class="right-side">
        <img id="right-image" />
      </div>
    </div>
  </body>
</html>
